#anchorPane, #userAnchorPane {
    -fx-background-color:  #184d47;
}
#userAnchorPane {
    -fx-border-color: #00917c;
    -fx-border-radius: 5;
}

#usernameButton {
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-background-color: #00000000;
}
#usernameButton:hover {
    -fx-cursor: hand;
}

#tweetLabel, #commentLabel, #commentReplyLabel, #publicMessageLabel {
    -fx-text-fill: white;
    -fx-border-color:  #a5f0c5;
    -fx-border-radius: 5;
}

#likeButton, #commentButton {
    -fx-border-color: #00000000;
}