#anchorPane, #userAnchorPane {
    -fx-background-color:  #15223b;
}
#userAnchorPane {
    -fx-border-color: #1e90ff;
    -fx-border-radius: 5;
}

#usernameLabel {
    -fx-text-fill: white;
}

#tweetLabel, #commentLabel, #commentReplyLabel, #publicMessageLabel {
    -fx-text-fill: white;
    -fx-border-color:  #1e90ff;
    -fx-border-radius: 5;
}

#likeButton, #commentButton {
    -fx-border-color: #00000000;
}