#anchorPane, #userAnchorPane {
    -fx-background-color:  #15223b;
}
#userAnchorPane {
    -fx-border-color: #1e90ff;
    -fx-border-radius: 5;
}

#usernameButton {
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-background-color: #00000000;
}
#usernameButton:hover {
    -fx-cursor: hand;
}

#tweetLabel, #commentLabel, #commentReplyLabel, #messageVbox {
    -fx-text-fill: white;
    -fx-border-color:  #1e90ff;
    -fx-border-radius: 5;
}
#messageVbox {
    -fx-background-color: #1e90ff30;
}

#likeButton, #commentButton {
    -fx-border-color: #00000000;
}